@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto Slab', serif;
$blue: #0290ff;
$lightBlue: #4386bf;
$white: #fff;
$black: #121212;
$blackHover: lighten($black, 50%);
$lightGray: #fafafa;
$paleGray: #f5f6fa;
$borderGray: #e8e8e8;
$darkGray: #888;

$green: green;
$lightgreen: lightgreen;
$lightblue: lightblue;
$lightyellow: lightyellow;
$lightred: #ffcccb;
$veryLightPink: #c4c4c4;
$announcement: black;
