@import '../../styles/partials/variables';

.section-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 2.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lightGray;
  padding-bottom: 3.2rem;
}
